
/***********************/
/* SYNTAX HIGHLIGHTING */
/***********************/

code, .highlight {
  background-color: $darkerGray;
  color: #DCDCDC;  
  margin: 20px 0;
  overflow: scroll;
  padding: 5px 10px;  
}

code, .highlight pre {
  /* overflow: scroll; Prefer no word wrap? Uncomment this line and comment out the 2 lines below. */
  word-break: break-all;
  word-wrap: break-word;
}

code {
  font-family: 'Courier', monospace;
  font-size: 14px;
}

// Solarized Light Pygments
// Thanks https://gist.github.com/edwardhotchkiss/2005058
/* Comment */
code .c, .highlight .c, code .c1, .highlight .c1 { color: #586E75 }
/* Error */
code .err, .highlight .err { color: #93A1A1 }
/* Generic */
code .g, .highlight .g { color: #93A1A1 }
/* Keyword */
code .k, .highlight .k { color: #C5E200 }
/* Literal */
code .l, .highlight .l { color: #93A1A1 }
/* Name */
code .n, .highlight .n { color: #C8FFFF }
/* Operator */
code .o, .highlight .o { color: #859900 }
/* Other */
code .x, .highlight .x { color: #CB4B16 }
/* Punctuation */
code .p, .highlight .p { color: #93A1A1 }
/* Comment.Multiline */
code .cm, .highlight .cm { color: #586E75 }
/* Comment.Preproc */
code .cp, .highlight .cp { color: #859900 }
/* Comment.Single */
code .c1, .highlight .c1 { color: #586E75 }
/* Comment.Special */
code .cs, .highlight .cs { color: #859900 }
/* Generic.Deleted */
code .gd, .highlight .gd { color: #2AA198 }
/* Generic.Emph */
code .ge, .highlight .ge { color: #93A1A1; font-style: italic }
/* Generic.Error */
code .gr, .highlight .gr { color: #DC322F }
/* Generic.Heading */
code .gh, .highlight .gh { color: #CB4B16 }
/* Generic.Inserted */
code .gi, .highlight .gi { color: #859900 }
/* Generic.Output */
code .go, .highlight .go { color: #93A1A1 }
/* Generic.Prompt */
code .gp, .highlight .gp { color: #93A1A1 }
/* Generic.Strong */
code .gs, .highlight .gs { color: #93A1A1; font-weight: bold }
/* Generic.Subheading */
code .gu, .highlight .gu { color: #CB4B16 }
/* Generic.Traceback */
code .gt, .highlight .gt { color: #93A1A1 }
/* Keyword.Constant */
code .kc, .highlight .kc { color: #CB4B16 }
/* Keyword.Declaration */
code .kd, .highlight .kd { color: #268BD2 }
/* Keyword.Namespace */
code .kn, .highlight .kn { color: #859900 }
/* Keyword.Pseudo */
code .kp, .highlight .kp { color: #859900 }
/* Keyword.Reserved */
code .kr, .highlight .kr { color: #268BD2 }
/* Keyword.Type */
code .kt, .highlight .kt { color: #DC322F }
/* Literal.Date */
code .ld, .highlight .ld { color: #93A1A1 }
/* Literal.Number */
code .m, .highlight .m { color: #2AA198 }
/* Literal.String */
code .s, .highlight .s { color: #2AA198 }
/* Name.Attribute */
code .na, .highlight .na { color: #93A1A1 }
/* Name.Builtin */
code .nb, .highlight .nb { color: #B58900 }
/* Name.Class */
code .nc, .highlight .nc { color: #268BD2 }
/* Name.Constant */
code .no, .highlight .no { color: #CB4B16 }
/* Name.Decorator */
code .nd, .highlight .nd { color: #268BD2 }
/* Name.Entity */
code .ni, .highlight .ni { color: #CB4B16 }
/* Name.Exception */
code .ne, .highlight .ne { color: #CB4B16 }
/* Name.Function */
code .nf, .highlight .nf { color: #268BD2 }
/* Name.Label */
code .nl, .highlight .nl { color: #FFFFFF }
/* Name.Namespace */
code .nn, .highlight .nn { color: #93A1A1 }
/* Name.Other */
code .nx, .highlight .nx { color: #DCDCDC }
/* Name.Property */
code .py, .highlight .py { color: #93A1A1 }
/* Name.Tag */
code .nt, .highlight .nt { color: #268BD2 }
/* Name.Variable */
code .nv, .highlight .nv { color: #268BD2 }
/* Operator.Word */
code .ow, .highlight .ow { color: #859900 }
/* Text.Whitespace */
code .w, .highlight .w { color: #93A1A1 }
/* Literal.Number.Float */
code .mf, .highlight .mf { color: #2AA198 }
/* Literal.Number.Hex */
code .mh, .highlight .mh { color: #2AA198 }
/* Literal.Number.Integer */
code .mi, .highlight .mi { color: #2AA198 }
/* Literal.Number.Oct */
code .mo, .highlight .mo { color: #2AA198 }
/* Literal.String.Backtick */
code .sb, .highlight .sb { color: #586E75 }
/* Literal.String.Char */
code .sc, .highlight .sc { color: #2AA198 }
/* Literal.String.Doc */
code .sd, .highlight .sd { color: #93A1A1 }
/* Literal.String.Double */
code .s2, .highlight .s2 { color: #2AA198 }
/* Literal.String.Escape */
code .se, .highlight .se { color: #CB4B16 }
/* Literal.String.Heredoc */
code .sh, .highlight .sh { color: #93A1A1 }
/* Literal.String.Interpol */
code .si, .highlight .si { color: #2AA198 }
/* Literal.String.Other */
code .sx, .highlight .sx { color: #2AA198 }
/* Literal.String.Regex */
code .sr, .highlight .sr { color: #DC322F }
/* Literal.String.Single */
code .s1, .highlight .s1 { color: #2AA198 }
/* Literal.String.Symbol */
code .ss, .highlight .ss { color: #2AA198 }
/* Name.Builtin.Pseudo */
code .bp, .highlight .bp { color: #268BD2 }
/* Name.Variable.Class */
code .vc, .highlight .vc { color: #268BD2 }
/* Name.Variable.Global */
code .vg, .highlight .vg { color: #268BD2 }
/* Name.Variable.Instance */
code .vi, .highlight .vi { color: #268BD2 }
/* Literal.Number.Integer.Long */
code .il, .highlight .il { color: #2AA198 }
