.post {
  h1, h2 {
    a {
      font-weight: lighter;
    }
  }

  a {
    font-weight: bold;

    &.read-more {
      font-weight: normal;
    }
  }
  img {
    padding: 1em;
    margin: 0 auto;
    display: block;
  }
}
